* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: Helvetica, Arial, sans-serif
}

header,
footer {
  background-color: rgb(21, 119, 204);
}

.header-list,
.footer-list {
  display: flex;
  justify-content: center;
  margin: 15px;
  gap: 15px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color:darkgray
}

body {
  display: flex;
  flex-direction: column;
}

main {
  /* https://www.publicdomainpictures.net/pictures/10000/velka/starry-night-871287410454UmtH.jpg */
  background-image: url("../images/starry-night.jpg");
  display: flex;
  flex: 1;
}

article {
  flex: 2 2 12em;
}

.content-article h1 {
  color: white;
}

nav,
aside {
  flex: 1;
}

.planet-nav {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

@media screen and (max-width: 500px) {
  main {
    flex-direction: column;
  }
}